.featured_product_main_image {
  width: 232px;
  height: 300px;
  flex-shrink: 0;
  position: relative;
}

.featured_product_main_content {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_image_icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 24px;
}

.image_icons_icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
}
